@charset "utf-8";
@import url("fonts.css");
@import url("common.css");


/* header */
#gnb {width:100%;}
#header{width:100%;height:90px;}
.gnb_top{position:relative; z-index:10; width:990px;margin:0 auto;height:32px;}

.gnb_top .util_nav{float:right; padding-right:10px}
.gnb_top .util_nav li {float:left; margin:10px 0 0 20px; font-size: 13px;font-family:"nanumB";}
.gnb_top .util_nav li a:hover,
.gnb_top .util_nav li a:focus{display:block; color:#1c65ec}

.gnb_wrap .gnb li.menu {font-size: 19px;font-family:"nanumB";color:#2f2f2f; margin:0 0 0px 60px;line-height:40px; }
.gnb_wrap .gnb li.menu span{padding-right:0px}
.gnb_wrap .gnb li.menu ul{padding:8px 0 0 0px; margin:0px}
.gnb_wrap .gnb li.menu ul li{padding:8px 0 0 0px;}
.gnb_wrap .gnb li.menu ul li a,.gnb_wrap .gnb li.menu ul li a:hover {font-size: 15px;},.gnb_wrap .gnb li.menu ul li a:focus {font-size: 15px;color:#219dcb;}

.gnb_wrap {position:relative; top:0; left:50%; z-index:9; width:100%; margin-left:-50%; background: #fff; border-bottom:1px solid #007dcc; }
.gnb_wrap .inner {overflow:hidden;width:1100px;margin:0 auto; }
.gnb_wrap h1{float:left;padding:10px 0 0 0;}
.gnb_wrap .gnb{float:right;padding:15px 10px 17px 0; height:60px;overflow:visible}
.gnb_wrap .gnb li{float:left;}
.gnb_wrap .gnb li  a{overflow:hidden;height:18px;margin:10px 5px;padding:0;color:#000;}
.gnb_wrap .gnb li ul {padding-left:20px;padding-top:1000px;}
.gnb_wrap .gnb.on li ul {padding-top:0px;}
.gnb_wrap .gnb li li{float:none;padding:8px 0 0 20px;line-height:18px;}
.gnb_wrap .gnb li li a{display:inline;padding:0;height:auto;overflow:visible;margin:0;color:#333;}

.gnb_wrap .gnb li.on img,
.gnb_wrap .gnb li.hv img{margin-top:-30px;}
.gnb_wrap .gnb li li.on a,
.gnb_wrap .gnb li li.hv a,
.gnb_wrap .gnb li li a:hover,
.gnb_wrap .gnb li li a:focus{font-weight:bold; color:#1c65ec;}
.gnb_wrap p.bgB	{ width: 100%; height: 10px; position: absolute; left: 0px; right: 0px; bottom: -10px; }


/* bottom link */
.announcement{width:100%;background:#fff; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; height:55px;margin:80px auto 0px auto;}
.announcement_area{width:520px;margin:0 auto;}
.announcement_area li {float:left; padding:5px 20px;}


/* footer */
#footer 					{ background:#f4f4f4;width:100%; mapArea0%; }
.footer_area 				{ overflow:hidden;width:100%;margin:0 auto;padding:25px 0 35px; background-color: #faf7f2; }
.footer_area p 				{ float:left; height: 70px; }
.footer_area div.left 			{ float: left; padding-left: 15px;}
.footer_area ul.footer_util		{ float:left; overflow:hidden; margin:5px 0 0 1px; }
.footer_area ul.footer_util li 		{ float:left; padding:0 8px; line-height:130%; font-family:"NanumB";font-size: 15px;}
.footer_area ul.footer_util li a{color:#000;padding:5px 20px 5px 0px}
.footer_area ul.footer_util li a:hover{color:#0c54ad}
.footer_area ul.footer_util li.first 		{ background:none; font-family:"nanumB";color:#000000}
.footer_area ul.footer_util li.last 		{padding:0px; font-size: 11px;font-family:"nanum"; color:#0c54ad}
.footer_area address  { clear:both; padding-top:10px; margin-left: 9px; font-family:"nanumB";}
.footer_area .copy{clear:both;margin-left: 10px;font-family:"nanumB";font-size: 11px;}


/* 서브 css */
.sub_top {width:100%;background:#fff; border-bottom:2px solid #007dcc; }
.sub_top .subimgintroduction{position:relative;width:100%;margin:0 auto;background: url('../images/sub/sub_slide01.jpg') no-repeat center 23px; min-width: 960px; height: 220px;}
.sub_top .subimgutilization{position:relative;width:100%;margin:0 auto;background: url('../images/sub/sub_slide02.jpg') no-repeat center 30px; min-width: 960px; height: 220px;}
.sub_top .subimglend{position:relative;width:100%;margin:0 auto;background: url('../images/sub/sub_slide03.jpg') no-repeat center 30px; min-width: 960px; height: 220px;}
.sub_top .subimgprogram{position:relative;width:100%;margin:0 auto;background: url('../images/sub/sub_slide04.jpg') no-repeat center 30px; min-width: 960px; height: 220px;}
.sub_top .subimgcommunity{position:relative;width:100%;margin:0 auto;background: url('../images/sub/sub_slide05.jpg') no-repeat center 30px; min-width: 960px; height: 220px;}

.container{position:relative;width:990px;margin:25px auto 0 auto;}
.container:after{content:"";display:block;clear:both;}

.contents{float:left;padding:60px 0 0 60px;width:720px;position:relative; min-height:450px }
.contents .location{overflow:hidden;position:absolute;right:0px;top:5px;}
.contents .location li{padding:0px 0px 0 25px;float:left;line-height:15px;font-size:12px;background:url("../images/sub/locationicon.png") 0px -27px no-repeat;}
.contents .location li a{color:#444;}
.contents .location li.first{background:url("../images/sub/locationicon.png") 0px 0px no-repeat;padding:0; width:30px;height:20px;}
.contents .location li em{color:#145297;font-weight:bold;}
.contents .introduction h3 {font-size: 32px;font-family:"nanumB";color:#000}
.contents .introduction .intro {margin:35px 0 0 0}
.content_list{width:990px;margin:0 auto; margin-top:40px}

.group_area{clear:both;}
.group_area .group_area_list{overflow:hidden;}
.group_area .group_area_list li h2{margin-bottom:15px;  font-size: 20px;font-family:"nanumB","Malgun Gothic", sans-serif; line-height:20px;color:#0e4098}


/*프로그램*/
.group_area .group_area_list li.first{position:relative;width:300px;padding:0px;float:left;}
.group_area .group_area_list li.first span{display:block;position:absolute;right:5px;top:0px;}
.group_area .group_area_list li.first .mapArea img {border-bottom:1px solid #dbdbdb;padding:0px;width: 299px; height: 153px;}
.plus_area{width: 20px; height: 20px;}


/*퀵메뉴 이미지*/
#header_navi > li {
	display: inline-block;
	position: relative;
}
#header_navi > li > a {
	display:block; position:relative; padding-bottom:19px;
	margin: 50px;
}
#header_navi > li > a > img {
	width:50px; height:50px;
}
#header_navi > li > a > span {
	position:absolute; bottom:0; left:50%; color:#666; line-height:1.462em; white-space:nowrap; transform:translate(-50%, 0)
}


/*문화센터 로고크기*/
#logo_wh{
	width: 250px;
	height: 50px;
}

/*하단 로고크기*/
.bottom_logo_wh{
	width: 106px;
	height: 43px;
}

/* 공지사항 바로가기 */
.card{
	margin: auto;
	width: 40rem;
	height: 15rem
}
.card-header{
	font-size: large;
	font-weight: bolder;
}

/* 찾아오시는 길 텍스트 */
.list-group-item0{
	font-size: x-large;
	font-weight: bolder;
	margin-bottom: 20px;
}
.list-group-item{
	font-size: large;
}

/* map에 들어가는 이미지 크기 설정 */
.map_img{
	width: 20px;
	height: 20px;
}